<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <th:block th:fragment="headerFragment">
    <div class="menu">
      <ul>
        <li>
          <a href="/car/home">홈</a>
        </li>
        <li> 
          <a href="/car/car-info">차량관리</a>
        </li>
        <li> 
          <a href="/car/sales-info">판매정보등록</a>
        </li>
        <li> 
          <a href="/car/sales-list">판매목록조회</a>
        </li>
      </ul>
    </div>
  </th:block>
  
</html>