.car-info-div{
  margin: 70px auto;
  padding: 0px 30px;
}

h2{
  color: rgb(203, 41, 87);
  margin-bottom: 15px;
}

.reg-form{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

/* .reg-form > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */
.reg-form > div:nth-child(1),
.reg-form > div:nth-child(2),
.reg-form > div:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 27%;
}

.reg-form > div:nth-child(4){
  width: 13%;
  display: flex;
  justify-content: end;
  gap: 10px;
}


.reg-form p{
  width: 30%;
  font-weight: bold;
  font-size: 1.1rem;
}

.reg-form input, .reg-form select{
  width: 70%;
}

.reg-table{
  width: 100%;
}
