body{
  background-color: rgb(44, 44, 44);
}

.total-container{
  width: 1000px;
  margin: 50px auto;
  height: 650px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  border: 3px solid rgb(203, 41, 87);
}

.header{
  height: 9%;
  border-bottom: 2px solid rgb(203, 41, 87);
}

.content{
  height: 91%;
}
